@charset "UTF-8";

/* css초기화 */
body {
    margin: 0;
    background-image: url(images/bg.png);
}

ul, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

em {
    font-style: normal;
}

/* 스타일링 */
.wrapper {
    overflow: hidden;
    width: 700px;
    height: 353px;
    margin: 60px auto 0;
    background-color: #fff;
}

.wrapper .sidebar {
    float: left;
    width: 150px;
    height: 100%;
    background-color: #333;
}

.wrapper .contents {
    float: left;
    width: 550px;
    height: 100%;
    background-color: #ddd;
}

.sidebar .profile {
    text-align: center;
}

.sidebar .profile img {
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.sidebar .gnb {
    margin-top: 20px;
}

.sidebar .gnb li a {
    display: block;
    padding: 8px 0 8px 8px;
    border-left: 4px solid #333;
    color: #999;
    background-color: #222;
    font-weight: 700;
}

.sidebar .gnb li a:hover {
    color: steelblue;
    border-left: 4px solid steelblue;
}

.contents .text_area {
    padding: 40px;
}

.contents .text_area em {
    font-size: 24px;
    font-weight: 700;
    color: steelblue;
}

.contents .text_area p {
    margin-top: 20px;
    color: #555;
}

.list_icon {
    overflow: hidden;
    margin-top: 20px;
}

.list_icon li {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: #ccc;
    border-radius: 50%;
}

.list_icon li a {
    display: block;
    height: 100%;
}

.list_icon li.icon_view {
    background-image: url(images/icon_view.png);
    background-repeat: no-repeat;
    background-position: center;
}

.list_icon li.icon_like {
    background-image: url(images/icon_like.png);
    background-repeat: no-repeat;
    background-position: center;
}

.list_icon li.icon_share {
    background-image: url(images/icon_share.png);
    background-repeat: no-repeat;
    background-position: center;
}
